@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apply-button {
  width: 60px;
  height: 24px;
  text-align: center;
  background-color: white;
  color: #1B3DEA;
  font-size: 11px;
  border-radius: 4px;
  border: 0.5px solid #1B3DEA;
}