@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-search-container{
  width: 280px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 9px;
  background-color: white;
  border-radius:5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  margin: 30px 0 20px 0;
}

.search-input {
  width: 242px;
  height: 34px;
  border: none;
  font-size: 14px;
  color: #222222;
  font-weight: 500;
}

.search-input:focus{
  outline:none;
}