/* 전체 컨테이너 */
.volunteer-container {
  max-width: 360px;
  margin: 0 auto;
  background-color: #F2F2F2;
  height: 100vh;
  overflow-y: auto;
  padding-top: 47px;
}

.option-bar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
  background-color: white;
}

/* 카테고리 버튼 컨테이너 */
.category-button-v-container {
  width: 360px;
  position: fixed;
  top: 147px;
  z-index: 100;
  display: flex;
  gap: 10px;
  padding: 7px;
  padding-left: 13px;
  background-color: white;
}

/* 카테고리 버튼 */
.category-button-v {
  padding: 6px 13px 5px;
  border: 1px solid #888888;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  color: #444444;
}

.category-button-v.selected {
  background-color: #545B82;
  color: white;
  border-color: #545B82;
}

/* 봉사활동 리스트 */
.volunteer-items-list {
  margin-top: 170px;
}