.header-2 {
  position: fixed;
  background-color: #1B3DEA;
  width: 100%;
  max-width: 360px;  /* 최대 너비를 360px로 설정 */
  height: 47px; /* 높이 설정 */
  margin-left: auto;  /* 좌측 여백을 자동으로 설정 */
  margin-right: auto; /* 우측 여백을 자동으로 설정 */
  padding: 10px;  /* 여백 추가 */
  display: flex;
  align-items: center;  /* 수직 중앙 정렬 */
  justify-content: space-between;  /* 양쪽으로 정렬 */
  top: 0;  /* 화면 최상단에 고정 */
  left: 0;  /* 왼쪽에 고정 */
  right: 0;  /* 오른쪽에 고정 */
  z-index: 1000;  /* 헤더가 다른 콘텐츠 위에 오도록 z-index 설정 */
}

.logo {
  display: flex;
  flex: 1;  /* 로고 컨테이너가 가용 공간을 차지하도록 설정 */
  justify-content: space-between;  /* 자식 요소 간격을 최대화 */
}

.header-image {
  height: 35px;
  width: auto;
  display: inline-block;
}

.left, .right {
  padding: 7.5px 10px;
}

.left {
  margin-right: auto;
}

.center {
  margin: 0 20px;
}

.right {
  margin-left: auto;
}
