@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  min-width: 360px;
  height: 70px;
  color: white;
  border-top: 1px solid #D9D9D9;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around;
  background-color: white;
  z-index: 1000;
  margin: 0 auto; /* 가로 중앙 정렬 */
  left: 0;
  right: 0;
}


.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 전체 폭을 사용 */
  padding: 0 10px;
}

.footer-icon {
  width: 32px;
  transition: transform 0.2s, filter 0.2s;
  margin: 0 25px;
}

.footer-icon.large {
  width: 36px;
}

.footer-icon.selected {
  filter: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(410%) hue-rotate(190deg) brightness(100%) contrast(200%);
  transform: translateY(-8px); /* 선택된 아이콘을 위로 이동 */
}

.footer-icon:hover {
  transform: translateY(-4px);
}

.footer-icon.selected:hover {
  transform: translateY(-8px);
}