h2 {
  text-align: center;
  width: 100px;
}

.container {
  margin: auto;
  width: 360px;
  height: 1000px;

}

.back-button {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

/* 폼 스타일 */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.label {
  font-size: 14px;
  color: #333;
}

/* 날짜 입력과 캘린더 버튼 컨테이너 */
.date-input-container {
  display: flex;
  align-items: center;
}

.date-input {
  flex: 1;
}

.calendar-button {
  background: none;
  border: none;
  margin-left: -35px;
  cursor: pointer;
}

/* 본문 텍스트 에어리어 */
.textarea {
  resize: none;
}

.textarea:focus{
  border: 1px solid black;
  outline: none;
}

/* 파일 업로드 버튼 */
.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-upload-button {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-button img {
  margin-right: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../../../public/ico_calendar.svg) no-repeat;
}

.title-input {
  width: 320px; /* 원하는 너비로 설정 */
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #aaa; /* 아래쪽만 선을 그음 */
  outline: none; /* 선택 시 파란 테두리 제거 */
  transition: border-color 0.3s;
  background-color: transparent;
  font-size: 10px;

}

.title-input::placeholder {
  color: #aaa; /* 플레이스홀더 색상 설정 */
}

.title-input:focus {
  border-bottom: 1px solid black; /* 포커스 시 진한 선 */
}

#content{
  resize: none;
  width: 320px;
  height: 300px;
  font-size: 10px;
  color: black;
  padding: 5px;
  margin: auto;
}

.margin{
  margin: 0px 20px;
}

.margin-left{
  margin-left: 20px;
}

.margin-top{
  margin-top: 87px;
}

.margin-top2{
  margin-top: 20px;
}

.header-container {
  margin: 0; /* Header에 여백 제거 */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px; /* label과 input 사이 간격 */
  margin-bottom: 10px; /* input 그룹 간 간격 */
}

.add-image{
  width: 60px;
  height: 60px;
}