@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apply-input-wrap {
  width: 284px;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apply-input-label {
  font-size: 14px;
  color: #444444;
}

.apply-input-box {
  width: 100%;
  height: 34px;
  padding: 10px 12px;
  border: 0.5px solid #dddddd;
  font-size: 12px;
}

.apply-input-box::placeholder {
  color: #dddddd;
}